<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="shortcut icon" href="img/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="imagizer"><%=title%></div>
    <!-- Choose File -->
    <div class="sumbit">
      <form id="submit" action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="image" id="file" required hidden />
        <label class="upload-button" for="file" id="fileLabel">
          Choose File
        </label>
      </form>
    </div>
    <!-- End -->
    <script src="js/alert.js"></script>
    <script>
      document.getElementById("file").addEventListener("change", function (e) {
        e.preventDefault();
        document.getElementById("submit").submit();
        document.getElementById("submit").reset();
      });

      const onloadAlert = "<%= alert %>";

      if (onloadAlert.length > 0) {
        window.onload = function () {
          Swal.fire({
            title: onloadAlert,
            width: "auto",
            showConfirmButton: true,
            focusConfirm: false,
            confirmButtonColor: "#5865F2",
            confirmButtonText: `Okay!`,
          });
        };
      }
    </script>

    <footer>
      <div class="footer">
        <a
          class="anti-a"
          href="http://github.com/birajrai/Imagizer"
          target="_blank"
          rel="imagizer"
          >Github</a
        >
      </div>
    </footer>
  </body>
</html>
